{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('rank_categories', {'id' : meeting_id}) }}" method="post">
    {% for category in categories %}
        <label title="category_{{ category.id }}"> {{ category.name }} <input id="category_{{ category.id }}" min="0" max="5" step="1" value="0" type="number" name="category[{{ category.id }}]"></label>
    {% endfor %}
        <button type="submit">TO je jedno</button>
    </form>
{% endblock %}