{% extends 'base.html.twig' %}

{% block title %}Edit CategoryList{% endblock %}

{% block body %}
    <h1>Edit CategoryList</h1>

    {{ include('category_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_list_index') }}">back to list</a>

    {{ include('category_list/_delete_form.html.twig') }}
{% endblock %}
