{% extends 'base.html.twig' %}

{% block title %}CategoryList index{% endblock %}

{% block body %}
    <h1>CategoryList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_list in category_lists %}
            <tr>
                <td>{{ category_list.id }}</td>
                <td>{{ category_list.name }}</td>
                <td>
                    <a href="{{ path('category_list_show', {'id': category_list.id}) }}">show</a>
                    <a href="{{ path('category_list_edit', {'id': category_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_list_new') }}">Create new</a>
{% endblock %}
