{% extends 'base.html.twig' %}

{% block title %}New CategoryList{% endblock %}

{% block body %}
    <h1>Create new CategoryList</h1>

    {{ include('category_list/_form.html.twig') }}

    <a href="{{ path('category_list_index') }}">back to list</a>
{% endblock %}
