{% extends 'base.html.twig' %}

{% block title %}CategoryList{% endblock %}

{% block body %}
    <h1>CategoryList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category_list.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_list_index') }}">back to list</a>

    <a href="{{ path('category_list_edit', {'id': category_list.id}) }}">edit</a>

    {{ include('category_list/_delete_form.html.twig') }}
{% endblock %}
