{% extends 'base.html.twig' %}
{% block body %}
    <div class="login-page">
        <div class="form">
            <form action="{{ path('security_login_check') }}" class="login-form" method="post">
                <input name="_email" type="email" id="email" placeholder="E-Mail"/>
                <input name="_password" type="password" id="password" placeholder="Password"/>
                <button type="submit">Login</button>
                <p class="message">Not registered? <a href="{{ path('register') }}">Create an account</a></p>
            </form>
        </div>
    </div>
{% endblock %}