{% extends 'base.html.twig' %}
{% block body %}
    <div class="login-page">
        <div class="form">
            {{ form_start(form) }}
            <form class="register-form">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                <input class="submit_button" type="submit" value="Create">
            </form>
            {{ form_end(form) }}
            <p class="message">Already registered? <a href="{{ path('index') }}">Sign In</a></p>
        </div>
    </div>
{% endblock %}