<form method="post" action="{{ path('wild_card_list_delete', {'id': wild_card_list.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wild_card_list.id) }}">
    <button class="btn">Delete</button>
</form>
