{% extends 'base.html.twig' %}

{% block title %}Edit WildCardList{% endblock %}

{% block body %}
    <h1>Edit WildCardList</h1>

    {{ include('wild_card_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wild_card_list_index') }}">back to list</a>

    {{ include('wild_card_list/_delete_form.html.twig') }}
{% endblock %}
