{% extends 'base.html.twig' %}

{% block title %}WildCardList index{% endblock %}

{% block body %}
    <h1>WildCardList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wild_card_list in wild_card_lists %}
            <tr>
                <td>{{ wild_card_list.id }}</td>
                <td>{{ wild_card_list.name }}</td>
                <td>{{ wild_card_list.weight }}</td>
                <td>
                    <a href="{{ path('wild_card_list_show', {'id': wild_card_list.id}) }}">show</a>
                    <a href="{{ path('wild_card_list_edit', {'id': wild_card_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wild_card_list_new') }}">Create new</a>
{% endblock %}
