{% extends 'base.html.twig' %}

{% block title %}New WildCardList{% endblock %}

{% block body %}
    <h1>Create new WildCardList</h1>

    {{ include('wild_card_list/_form.html.twig') }}

    <a href="{{ path('wild_card_list_index') }}">back to list</a>
{% endblock %}
