{% extends 'base.html.twig' %}

{% block title %}WildCardList{% endblock %}

{% block body %}
    <h1>WildCardList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wild_card_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wild_card_list.name }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ wild_card_list.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wild_card_list_index') }}">back to list</a>

    <a href="{{ path('wild_card_list_edit', {'id': wild_card_list.id}) }}">edit</a>

    {{ include('wild_card_list/_delete_form.html.twig') }}
{% endblock %}
