{% extends 'base.html.twig' %}
{% block body %}
    {#{% include ':user:user_index.html.twig' %}#}

    <div class="card">
        <div class="card-header text-center">
            <h3>{{ restaurant.title }}</h3>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="{{ asset('assets/pics/pizza-3007395_640.jpg') }}" alt="Card image">
            <h5 class="card-title">Payment method</h5>
            {% if restaurant.payment == 0 %}
                <p>Card: NO</p>
            {% else %}
                <p>Card: YES</p>
            {% endif %}

            {% if restaurant.paymentTR == 0 %}
                <p>TR card: NO</p>
            {% else %}
                <p>TR card: YES</p>
            {% endif %}

            <p class="card-text">Category: </p>
            <button type="submit" class="btn btn-primary">EAT!</button>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
{% endblock %}