{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('index') }}">Food <small>with</small> Friends</a>

    </nav>
{% endblock %}