<form method="post" action="{{ path('wild_card_delete', {'id': wild_card.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wild_card.id) }}">
    <button class="btn">Delete</button>
</form>
