{% extends 'base.html.twig' %}

{% block title %}Edit WildCard{% endblock %}

{% block body %}
    <h1>Edit WildCard</h1>

    {{ include('wild_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wild_card_index') }}">back to list</a>

    {{ include('wild_card/_delete_form.html.twig') }}
{% endblock %}
