{% extends 'base.html.twig' %}

{% block title %}WildCard index{% endblock %}

{% block body %}
    <h1>WildCard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wild_card in wild_cards %}
            <tr>
                <td>{{ wild_card.id }}</td>
                <td>
                    <a href="{{ path('wild_card_show', {'id': wild_card.id}) }}">show</a>
                    <a href="{{ path('wild_card_edit', {'id': wild_card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wild_card_new') }}">Create new</a>
{% endblock %}
