{% extends 'base.html.twig' %}

{% block title %}New WildCard{% endblock %}

{% block body %}
    <h1>Create new WildCard</h1>

    {{ include('wild_card/_form.html.twig') }}

    <a href="{{ path('wild_card_index') }}">back to list</a>
{% endblock %}
