{% extends 'base.html.twig' %}

{% block title %}WildCard{% endblock %}

{% block body %}
    <h1>WildCard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wild_card.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wild_card_index') }}">back to list</a>

    <a href="{{ path('wild_card_edit', {'id': wild_card.id}) }}">edit</a>

    {{ include('wild_card/_delete_form.html.twig') }}
{% endblock %}
